<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1072068226791-ftfu13um7s0lgo1cimmj5fh6q0v33vvo</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>roboto-regular.ttf</string>
		<string>roboto-medium.ttf</string>
	</array>
</dict>
</plist>
